<form action="/gallery" method="post">
        <input style="width:20em" name="keyword" type="text" placeholder="Type keyword that you want to search" required>
        <input id="submit" type="submit" value="Search">
    </form>